$mustard-yellow: #838208;
$light-mustard-yellow:#999326;
$murky-black: #110D08;

body {
  background: gray;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
}

h1, h2 {
  margin: 0;
}

h2 {
  font-size: 1.25em;
}