.console__unit-title {
  flex-grow: 1;
  text-align: center;
  color: $mustard-yellow;
  font-family: sans-serif;
  text-shadow: 0 0 3px $mustard-yellow;
}

.console__unit-ID {
  font-family: sans-serif;
  font-size: 74px;
  color: $mustard-yellow;
  text-shadow: 0 0 3px $mustard-yellow;
}

.console__unit-border {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 64px;
  font-family: sans-serif;
  line-height: 74px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border: 2px solid $mustard-yellow;
}

.console__unit-ID-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
}

.console__unit-ID-container:first-child {
  margin-left: 10px;
}

.console__unit-ID-container:last-child {
  margin-right: 10px;
}

.settings-container__top-section {
  text-align: center;
  padding: 5px;
  border-bottom: 2px solid $light-mustard-yellow;;
}

.settings-container__bottom-section {
  text-align: center;
  padding: 5px 0;
}

#consoleBottomSection .settings-container__bottom-section {
  padding-bottom: 40px;
}

#consoleMidSection .console__settings-container:first-child .settings-container__top-section h2, 
#consoleMidSection .console__settings-container:last-child h2 {
  padding-right: 25%;
}

#consoleMidSection > div:not(:last-child), #consoleBottomSection > div:not(:last-child) {
  border-right: 3px double $mustard-yellow;
}

#consoleBottomSection > div {
  flex-grow: 1;
}

#consoleMidSection, #consoleBottomSection {
  text-shadow: 0 0 3px $mustard-yellow;
}

.settings-container__option--active, .settings-container__top-section--active {
  background: $mustard-yellow;
  color: $murky-black;
}

.arrow-right {
  width: 0;
  height: 0;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-left: 30px solid $mustard-yellow;
}

.bar-graph__inner-container {
  display: flex;
}

.bar-graph__measure-bar {
  width: 20px;
  height: 250px;
  border-right: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
  align-items: flex-end;
}

.measure-bar__interval--long {
  border-bottom: 1px solid black;
  height: 0px;
  width: 75%;
}

.measure-bar__interval--mid {
  border-bottom: 1px solid black;
  height: 0px;
  width: 50%;
}

.measure-bar__interval--small {
  border-bottom: 1px solid black;
  width: 25%;
  height: 0px;
}

.bar-graph__status-bar {
  margin-right: -7px;
  width: 20px;
  height: 250px;
  border-top: 1px solid black;
  box-sizing: border-box;
  transform: rotate(180deg);
}

.status-bar__inner-bar {
  height: 10%;
  width: 75%;
  background: $mustard-yellow;
  margin: 0 auto;
}

.firing-section__container {
  display: flex;
  text-transform: capitalize;
  color: $mustard-yellow;
}