.firing-section__container:first-of-type {
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
  font-size: 1.5em;
}

#firingTopSection {
  justify-content: space-between;
  border-bottom: 4px solid #999326;
  text-transform: uppercase;
}

#firingTopSection,
#firingBottomSection {
  color: $mustard-yellow;
  background: $murky-black;
}

#firingBottomSection {
  justify-content: space-evenly;
}

#criticalWarning > h2,
#firingBottomSection > div:nth-child(1) > h2 {
  text-transform: uppercase;
}

#criticalWarning {
  box-sizing: border-box;
  height: 65px;
  display: flex;
  justify-content: center;
  align-items: center;
}

// non inverted
.critical-warning__container--non-inverted {
  border: 10px solid $mustard-yellow;
}

.critical-warning__content--non-inverted {
  color: $murky-black;
  background: $mustard-yellow;
  padding: 1px;
  margin: 10px;
}
//

// Inverted

.critical-warning-inverted {
  color: $mustard-yellow;
  background: $murky-black;
  padding: 1px;
  border: 10px solid $mustard-yellow;
}

#firingBottomSection > div:nth-child(2) {
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  font-size: 2.5em;
}

#firingBottomSection > div:nth-child(3) {
  justify-content: space-around;
  padding-top: 0;
}

.numeric-indicator__container {
  display: flex;
  align-items: center;
  padding-top: 22px;
}

.numeric-indicator__container:last-of-type {
  width: 60%;
}

.numeric-indicator__container:last-of-type > h2 {
  width: 100%;
  text-align: end;
}

.numeric-indicator__header {
  padding: 10px 20px;
  border: solid 1px $mustard-yellow;
}

.round-counter__arrow-right {
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 20px solid $mustard-yellow;
}

.firing-section__container {
  display: flex;
  text-transform: capitalize;
  color: $mustard-yellow;
  flex: 1;
  padding-top: 10px;
}

#firingBottomSection {
  padding-bottom: 20px;
  padding-top: 5px;
  height: 100%;
}

#firingBottomSection  > div:nth-child(1) > div:nth-child(2) {
  margin: 5px;
}

.bar-graph__title {
  margin-bottom: 10px;
}