.firing-section__container:first-of-type {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

#firingTopSection {
  justify-content: space-between;
  border-bottom: 4px solid #999326;
  text-transform: uppercase;
}

#firingTopSection,
#firingBottomSection {
  color: $mustard-yellow;
  background: $murky-black;
}

#firingBottomSection {
  justify-content: space-evenly;
}

#criticalWarning > h2,
#firingBottomSection > div:nth-child(1) > h2 {
  text-transform: uppercase;
}

// non inverted
.critical-warning__container--non-inverted {
  border: 10px solid $mustard-yellow;
}

.critical-warning__content--non-inverted {
  color: $murky-black;
  background: $mustard-yellow;
  padding: 1px;
  margin: 10px;
}
//

// Inverted 

.critical-warning-inverted {
  color: $mustard-yellow;
  background: $murky-black;
  padding: 1px;
  border: 10px solid $mustard-yellow;
}

#firingBottomSection > div:nth-child(2) {
  flex-direction: column;
  justify-content: space-evenly;
}

.round-counter__container {
  display: flex;
}

.round-counter__header {
  padding: 10px 20px;
  border: solid 1px $mustard-yellow;
}

.round-counter__arrow-right {
  width: 0;
  height: 0;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-left: 30px solid $mustard-yellow;
}