.console-container__wrapper {
  position: relative;
  height: 75%;
  width: 100%;
}

.console__outer-container {
  display: flex;
  flex-direction: column;
  width: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 4px solid $light-mustard-yellow;
  box-sizing: border-box;
  min-width: 800px;
  overflow: hidden;
  overflow: -moz-hidden-unscrollable;
  box-shadow: 0px 0px 3px 1px #999326;
  font-family: sans-serif;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.hidden {
  display: none;
}

.console__section {
  display: flex;
}

#consoleTopSection,
#consoleMidSection,
#consoleBottomSection {
  color: $mustard-yellow;
  text-transform: uppercase;
  background: $murky-black;
}

#consoleTopSection {
  justify-content: space-between;
  border-bottom: 4px solid $light-mustard-yellow;
}

#consoleMidSection {
  border-bottom: 4px solid $light-mustard-yellow;
  justify-content: space-between;
}

#consoleMidSection .console__settings-container {
  flex-grow: 1;
}
