.console__outer-container {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: 0 auto;
  border: 3px solid $light-mustard-yellow;
  box-sizing: border-box;
  min-width: 800px;
  overflow: hidden;
  overflow: -moz-hidden-unscrollable;
}

.console__section {
  display: flex;
}

.console__unit-title + .console__unit-ID-container {
  flex-grow: 1;
}

#consoleTopSection {
  justify-content: space-between;
  background: #110D08;
}